<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>

    <!-- Styles -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700&display=swap&subset=latin-ext" rel="stylesheet">
    <link href="~/Content/bootstrap.css" rel="stylesheet">
    <link href="~/Content/fontawesome-all.css" rel="stylesheet">
    <link href="~/Content/swiper.css" rel="stylesheet">
    <link href="~/Content/magnific-popup.css" rel="stylesheet">
    <link href="~/Content/styles.css" rel="stylesheet"> 
     
</head>
<body data-spy="scroll" data-target=".fixed-top">

    <!-- Preloader -->
    <div class="spinner-wrapper">
        <div class="spinner">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
        </div>
    </div>
    <!-- end of preloader -->
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top">
        <div class="container">

            <!-- Image Logo -->
            <a class="navbar-brand logo-image" href="index.html"><img src="~/Uploads/description-1.png" style="width: 18%; height: 5%;" alt="alternative"></a>

            <!-- Mobile Menu Toggle Button -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-awesome fas fa-bars"></span>
                <span class="navbar-toggler-awesome fas fa-times"></span>
            </button>
            <!-- end of mobile menu toggle button -->

            <div class="collapse navbar-collapse" id="navbarsExampleDefault">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link page-scroll" href='@Html.ActionLink("Home", "Index", "Home")'>تعلم الحروف العربية والانكليزية</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link page-scroll" href='@Html.ActionLink("Home", "Index", "Home")'>Eductional Photo </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link page-scroll" href='@Html.ActionLink("Home", "Index", "Home")'>Search For A Persons Photo</a>
                    </li>
                </ul>
            </div>
        </div> <!-- end of container -->
    </nav> <!-- end of navbar -->
    <!-- end of navigation -->
    <div >
        @RenderBody()
    </div>
     

    <!-- Scripts -->
    <script src="~/Scripts/jquery.min.js"></script> <!-- jQuery for Bootstrap's JavaScript plugins -->
    <script src="~/Scripts/popper.min.js"></script> <!-- Popper tooltip library for Bootstrap -->
    <script src="~/Scripts/bootstrap.min.js"></script> <!-- Bootstrap framework -->
    <script src="~/Scripts/jquery.easing.min.js"></script> <!-- jQuery Easing for smooth scrolling between anchors -->
    <script src="~/Scripts/swiper.min.js"></script> <!-- Swiper for image and text sliders -->
    <script src="~/Scripts/jquery.magnific-popup.js"></script> <!-- Magnific Popup for lightboxes -->
    <script src="~/Scripts/validator.min.js"></script> <!-- Validator.js - Bootstrap plugin that validates forms -->
    <script src="~/Scripts/scripts.js"></script> <!-- Custom scripts -->
    @RenderSection("scripts", required: false)

</body>
</html>
